body {
  margin: 0px;
  padding: 0px;
}

.frame {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #e5e5e5;
}

.main-frame {
  position: relative;
  width: 1440px;
  height: 1312px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  background: #f0f0f6;
}

.main-frame .left-frame {
  position: relative;
  width: 305px;
  height: 1315px;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.main-frame .midd-frame {
  position: relative;
  width: 970px;
  height: 1259px;
  margin-left: 30px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
}

.main-frame .right-frame {
  position: relative;
  width: 108px;
  height: 1315px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  background: #fafafa;
}

.main-frame .left-frame .left-1 {
  position: relative;
  width: 228px;
  height: 267px;
  margin-top: 50px;
  margin-left: 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-frame .left-frame .left-1 .left-1-1 {
  width: 156.164px;
  height: 135.053px;
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin-bottom: 29.46px;
}

.main-frame .left-frame .left-1 .left-1-2 {
  color: #2b2b2b;
  /* H4 - 18px */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; /* 22.248px */
  text-transform: capitalize;
}

.main-frame .left-frame .left-1 .left-1-3 {
  position: relative;
  color: #767676;
  margin-left: 15px;
  margin-top: 25px;
  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.main-frame .left-frame .left-1 .left-icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 238px;
  margin-top: 19px;
}

.main-frame .left-frame .left-1 .link-href {
  text-decoration: none;
  color: black;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.main-frame .left-frame .left-1 .icon {
  position: relative;
  width: 24.99px;
  height: 22.8px;
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background: #ffb400;
}

.main-frame .left-frame .left-1 .icon-1 {
  position: relative;
  left: 20.17%;
  right: 27.08%;
  margin-top: 5.86px;
}
.main-frame .left-frame .marginer {
  position: relative;
  width: 220px;
  height: 0;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 39px;
  border: 1px solid #f0f0f6;
}

.main-frame .left-2 {
  position: relative;
  width: 221px;
  height: 126px;
  margin-left: 44px;
  display: flex;
  flex-direction: column;
}
.left-2-about {
  width: 221px;
  height: 25px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.left-2-about-wrapper {
  width: 89px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffb400;
  margin-right: auto;
}
.left-2-wrapper-age {
  width: 46px;
  height: 24px;
}
.left-2-wrapper-address {
  width: 74px;
  height: 24px;
}
.left-2-about-wrapper h1 {
  color: #2b2b2b;
  font-kerning: none;
  font-feature-settings: "calt" off;
  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}
.left-2-about p {
  color: #2b2b2b;
  text-align: right;
  font-kerning: none;
  font-feature-settings: "calt" off;
  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.main-frame .left-3 {
  width: 220px;
  height: 153px;
  margin-left: 47px;
  display: flex;
  flex-direction: column;
  /* margin-top: 25px; */
}

.left-3-languages-title {
  width: 95px;
  height: 22px;
  color: #2b2b2b;
  /* H4 - 18px */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; /* 22.248px */
  text-transform: capitalize;
  margin-bottom: 15px;
}

.left-3-languages-wrapper {
  width: 220px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-right: auto; */
  margin-bottom: 9px;
  /* margin-top: 9px; */
}

.left-3-languages-wrapper h1 {
  width: 40px;
  height: 24px;
  color: #767676;
  font-kerning: none;
  font-feature-settings: "calt" off;
  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.left-3-languages-wrapper p {
  color: #767676;
  font-kerning: none;
  font-feature-settings: "calt" off;
  /* Paragraph Progress - 15 */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  margin-left: auto;
}
.left-3-percent {
  width: 220px;
  height: 4px;
  /* margin-bottom: 10px; */
}

.left-languages {
  position: relative;
  width: 220px;
  height: 153px;
  display: flex;
  flex-direction: column;
}
.left-languages-title {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; /* 22.248px */
  text-transform: capitalize;
  margin-bottom: 15px;
}
.left-language {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 5px;
  margin-top: 9px;
}
.left-language-name {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  color: #767676;
  margin-right: 133px;
}
.left-language-percent {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  color: #767676;
}
.left-percent-img {
  width: 220px;
  height: 4px;
}
.main-frame .left-4 {
  position: relative;
  width: 220px;
  height: 242px;
  margin-left: 47px;
}

.main-frame .left-5 {
  position: relative;
  width: 186px;
  height: 148px;
  margin-left: 47px;
}

.left-extra-skills-title {
  position: relative;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; /* 22.248px */
  text-transform: capitalize;
  color: #2b2b2b;
  margin-bottom: 15px;
}

.left-extra-skill {
  width: 186px;
  height: 24px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.left-extra-skill-img {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}
.left-extra-skill-name {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  color: #767676;
}

.midd-frame-about {
  position: absolute;
  width: 971px;
  height: 454.328px;
  background: #fff;
  display: flex;
  flex-direction: row;
}

.midd-frame-about-info-title {
  width: 499.514px;
  height: 116.744px;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%;
  color: #2b2b2b;
  margin-top: 99px;
  margin-left: 56.07px;
  margin-bottom: 17.11px;
}

.midd-frame-about-info-desc {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
  color: #767676;
  margin-left: 61px;
  margin-bottom: 22.78px;
  margin-right: 97.86px;
}

.midd-frame-about-img {
  position: relative;
  top: 16.46px;
  right: 61.65px;
  width: 326.055px;
  height: 446.633px;
}

.midd-frame-about-info-btn button {
  width: 154px;
  height: 51px;
  color: #2b2b2b;
  background: #ffb400;
  margin-left: 56.07px;
  margin-top: 38.78px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.midd-frame-about-info-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.midd-frame-about-info-btn-title {
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #2b2b2b;
  margin-right: 9px;
}
.midd-frame-about-info-btn-img {
  width: 16px;
  height: 16px;
}

.midd-frame-services {
  position: relative;
  width: 971px;
  height: 653px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 600px;
}

.midd-frame-services-desc {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.midd-frame-services-desc-title {
  width: 193px;
  height: 40px;
  color: #2b2b2b;
  /* H2 - 32px */
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%; /* 39.552px */
  text-transform: capitalize;
  margin-bottom: 25px;
}

.midd-frame-services-desc-info {
  width: 438px;
  height: 68px;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  color: #767676;
  text-align: center;
  margin-bottom: 50px;
}

.midd-frame-services-items {
  width: 971px;
  height: 675px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.midd-frame-shapes-ellipse-1 {
  width: 16px;
  height: 15px;
  position: relative;
  top: 37.86px;
  right: 818.93px;
}

.midd-frame-shapes-ellipse-2 {
  width: 16px;
  height: 15px;
  position: relative;
  top: 419.22px;
  right: 870.88px;
}

.midd-frame-shapes-ellipse-3 {
  width: 16px;
  height: 15px;
  position: relative;
  top: 59.26px;
  right: 438.44px;
}

.midd-frame-shapes-ellipse-4 {
  width: 16px;
  height: 15px;
  position: relative;
  top: 378.33px;
  right: 400.53px;
}

.midd-frame-shapes-rectangle-1 {
  width: 16px;
  height: 15px;
  position: relative;
  top: 330.69px;
  right: 570.19px;
}

.midd-frame-shapes-rectangle-2 {
  width: 16px;
  height: 15px;
  position: relative;
  top: 76.44px;
  right: 57.2px;
}

.midd-frame-shapes-polygon-1 {
  width: 16px;
  height: 15px;
  position: relative;
  top: 364.09px;
  right: 37.2px;
}
/* .midd-frame-services-items-wrapper {
  display: flex;
  flex-direction: row;
} */
.midd-frame-services-items-container {
  width: 310px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
}
.midd-frame-services-items-container img {
  width: 68px;
  height: 68px;
  /* margin-top: 28px; */
  margin-bottom: 26px;
}
.midd-frame-services-items-container h1 {
  /* width: 158px;
  height: 22px; */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; /* 22.248px */
  text-transform: capitalize;
  color: #2b2b2b;
  /* margin-bottom: 15px; */
}
.midd-frame-services-items-container p {
  width: 100%;
  height: 24px;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  color: #767676;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.midd-frame-services-items-container-last {
  width: 310px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
}
.midd-frame-services-items-container-last p {
  width: 100%;
  height: 24px;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  color: #767676;
  text-align: center;
}
.midd-frame-services-items-element {
  width: 310px;
  height: 225px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.midd-frame-services-items-element-img {
  width: 68px;
  height: 68px;
  margin-top: 28px;
  margin-bottom: 26px;
}

.midd-frame-services-items-element-header {
  width: 99px;
  height: 22px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; /* 22.248px */
  text-transform: capitalize;
  color: #2b2b2b;
  margin-top: 31px;
}
.midd-frame-services-items-element-title {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; /* 22.248px */
  text-transform: capitalize;
  color: #2b2b2b;
  margin-bottom: 15px;
  margin-bottom: 22px;
}

.midd-frame-services-items-element-desc {
  width: 134px;
  height: 24px;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  color: #767676;
  text-align: center;
}
.midd-frame-services-items-element-description {
  width: 260px;
  height: 78px;
  color: #767676;
  text-align: center;
  font-kerning: none;
  font-feature-settings: "calt" off;
  /* P-15px paragraph */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
  margin-top: 22px;
}
.midd-frame-services-items-element-desc-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.midd-frame-services-items-element-desc-btn {
  width: 60px;
  height: 14px;
  color: #ffb400;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 30px;
  cursor: pointer;
  align-items: center;
}
.midd-frame-services-items-element-desc-btn-frame {
  width: 20px;
  height: 20px;
  background-color: #ffb400;
}
.right-icons-container-icon-mode {
  width: 30px;
  height: 30px;
  margin-top: 50px;
  margin-bottom: 223px;
  display: flex;
  align-items: center;
}

.right-icons-active {
  width: 65px;
  height: 33px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.right-icons-active-img {
  width: 65px;
  height: 33px;
  position: absolute;
  display: flex;
  align-items: center;
}

.right-icons-active-txt {
  width: 34px;
  height: 15px;
  position: relative;
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  left: 15px;
}
.is-active {
  width: 40px;
  height: 40px;
  background-color: #ffb400;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 43px;
}

.right-icons-container-icon-wrapper {
  width: 40px;
  height: 40px;
  background-color: #f0f0f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 43px;
}

.right-icons-container-icon {
}

.right-icons-container-icon-cv {
  width: 40px;
  height: 40px;
  background-color: #f0f0f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 43px;
}

.right-icons-container-icon-portolio {
  width: 40px;
  height: 40px;
  background-color: #f0f0f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 43px;
}

.right-icons-container-icon-blog {
  width: 40px;
  height: 40px;
  background-color: #f0f0f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 43px;
}

.right-icons-container-icon-contact {
  width: 40px;
  height: 40px;
  background-color: #f0f0f6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 43px;
}
